.card {
    width: 300px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
  }
  
  /* Заголовок картки */
  .header {
    padding: 20px;
  }
  
  /* Аватар */
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: rgb(242, 242, 242);
  }
  
  /* Ім'я користувача */
  .username {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
  }
  
  /* Нікнейм та місце розташування */
  .tag,
  .location {
    color: #777;
    margin-bottom: 10px;
  }
  
 /* Нижня секція з інформацією */
 .info {
  width: 100%; /* Займає всю ширину контейнера */
  background-color: #f0f0f0; /* Сірий фон */
  margin: 0; /* Відсутні зовнішні відступи */
  padding: 10px; /* Додайте внутрішні відступи, якщо потрібно */
  list-style: none; /* Скидання стандартних маркерів списку */
}


.cardInfoItem {
  border-top: 1px solid #ccc; /* Верхня рамка для кожного елемента списку */
  padding: 10px; /* Внутрішні відступи */
  display: flex; /* Використовує флекс для вирівнювання вмісту */
  justify-content: space-between; /* Вирівнює вміст по боках */
}

.cardInfoItem:first-child {
  border-top: none; /* Прибирає верхню рамку для першого елемента */
}

.cardInfoTitle {
  font-weight: bold; /* Жирний шрифт для заголовка */
}

.cardInfoValue {
  color: #333; /* Колір значення */
}
